<div class="tasklist">
    <div class="header">
        <div>Changelist / Build</div>
        <div>Owner</div>
        <div class="time">Time Started</div>
        <div>State</div>
        <div>Metrics</div>
        <div>Build</div>
        <div>Unit Test</div>
        <div>Functional Test</div>
    </div>
    <div class="items">
        <div data-ng-repeat="task in tasks | orderBy: '-startedAt'" ng-click="toggleSelection(task)">
            <div data-ng-class="task.state" class="item">
                <div class="basicinfo">
                    <div>
                        <img task-icon type="task.type" state="task.state" />
                        <small>{{ task.type == 'firewall' ? task.id : task.alias }}</small>
                    </div>
                    <div><small ng-if="task.type == 'firewall'">{{ task.owner }}</small></div>
                    <div class="time">{{ task.startedAt | date : 'M/d/yyyy h:mma' }}</div>
                    <div class="state">{{ task.state }}</div>
                    <div class="steps" ng-class="{ expanded: task.selected }">
                        <div task-update-progress state="task.metrics.state" progress="task.metrics.progress">{{ task.metrics.progress }}</div>
                        <div task-update-progress state="task.build.state" progress="task.build.progress">{{ task.build.progress }}</div>
                        <div task-update-progress state="task.unitTest.state" progress="task.unitTest.progress">{{ task.unitTest.progress }}</div>
                        <div task-update-progress state="task.functionalTest.state" progress="task.functionalTest.progress">{{ task.functionalTest.progress }}</div>
                    </div>
                </div>
                <div class="details" ng-if="task.selected">
                    <div class="step-info" ng-class="task.metrics.state" task-popover header="'Metrics'" body="'TODO details'">
                        <h5>Metrics</h5>
                        <div task-metrics header="'test'" metric="task.metrics.test"></div>
                        <div task-metrics header="'maintainability'" metric="task.metrics.maintainability"></div>
                        <div task-metrics header="'security'" metric="task.metrics.security"></div>
                        <div task-metrics header="'workmanship'" metric="task.metrics.workmanship"></div>
                    </div>
                    <div class="step-info" ng-class="task.build.state" task-popover header="'Build'" body="'TODO details'">
                        <h5>Build</h5>
                        <div class="computer"><img src="images/computer.png" alt="Debug">Debug</div>
                        <div class="computer"><img src="images/computer.png" alt="Release">Release</div>
                        <div class="time">{{ task.build.startedAt | date : 'h:mma M/d/yyyy' }}</div>
                    </div>                    
                    <div class="step-info" ng-class="task.unitTest.state" task-popover header="'Unit Test'" body="'TODO details'">
                        <h5>Unit Tests</h5>
                        <div task-testresult results="task.unitTest"></div>
                    </div>
                    <div class="step-info" ng-class="task.functionalTest.state" task-popover header="'Functional Test'" body="'TODO details...'">
                        <h5>Functional Tests</h5>
                        <div task-testresult results="task.functionalTest"></div>
                    </div>
                    <div class="result" ng-class="task.result.state" ng-click="$event.stopPropagation();">
                        <h5>Result:</h5>
                        <div class="message">
                            <span ng-if="task.result.state == 'accepted'">Change accepted</span>
                            <span ng-if="task.result.state == 'rejected'">Change rejected</span>
                            {{task.result.message}}
                        </div>
                        <div ng-if="task.result.state == 'accepted'" class="action search-icon">
                            <button ng-click="showMergedBuild(task.changelist)">Merged Build</button>
                        </div>
                        <div ng-if="task.result.state == 'rejected'" class="action">
                            <button task-issue-list id="task.id">Find Issues</button>
                        </div>
                        <div ng-if="task.result.state == 'completed'" class="action">
                            <button>Deploy</button> to:
                            <div class="select">
                                <select ng-model="deployTarget" ng-options="option as option for option in environments"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>