@import "compass/css3";

@import "colors";

// font
$font-family: Tahoma, Geneva, sans-serif;
$alternative-font-family: sans-serif;
$small-font: 0.88rem;
$smaller-font: 0.8rem;

//boxes
$border-width: 2px;

// fx
$transition-time: 1.5s;

@mixin background-gradient($color) {
    @include background-image(linear-gradient(140deg, $color, rgb(255,255,255), rgb(255,255,255), rgb(255,255,255)));
}

.hidden-element {
    visibility: hidden;
    @include opacity(0);
}

.visibile-element {
    visibility: visible;
    @include opacity(1);
}

@mixin start-hidden($transition-time: 1.5s, $transition-timing-function: ease-in) {
    @extend .hidden-element;
    @include transition(visibility $transition-timing-function $transition-time, opacity $transition-timing-function $transition-time);
}

@mixin start-visibile($transition-time: 1.5s, $transition-timing-function: ease-in) {
    @extend .visibile-element;
    @include transition(visibility $transition-timing-function $transition-time, opacity $transition-timing-function $transition-time);
}

.main-container {
    //max-width: 800px;
    max-width: 1160px;
    margin: auto;
    position: relative;
}
.main-content {
    margin: auto;
    max-width: 1160px;
    height: 300px;
}


.base-state {
    background-repeat: no-repeat;
    border-width: $border-width;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}

    div.rejected {
        @extend .base-state;
    }

    div.completed {
        @extend .base-state;
    }

    div.accepted {
        @extend .base-state;
    }

    div.pending {
        @extend .base-state;
    }

    div.running {
        @extend .base-state;
    }

    .rejected-state {
        color: $rejected-color;
        border-color: $rejected-color  !important;
        @include background-gradient($rejected-background-color);
    }
    div.rejected {
        @extend .rejected-state;
    }

    
    div.pending {
        cursor: not-allowed;
        border-color: $pending-color;
        color: $pending-color;
        @include background-gradient($running-background-color);
    }

    div.running {
        cursor: not-allowed;
        border-color: $running-font-color;
        color: $running-font-color;
        @include background-gradient($running-background-color);
    }

    .completed-state{
        border-color: $completed-color !important;
        color: $completed-color;
        @include background-gradient($completed-background-color);
    }
    div.completed {
        @extend .completed-state;
    }
    div.accepted {
        @extend .completed-state;
    }  