// Import compass
@import "compass/reset";

// Import Base
@import "base";

body {
    font-family: $font-family;
    width: 100%;
    letter-spacing: 1px;
    font-size: 16px;
    font-style: normal;
	font-variant: normal;
	font-weight: 500;
}


img {
    vertical-align: middle;
}

small {
    font-size:$small-font;
}