@import "base";

@import "colors";

div.metric-box {
    width: 50%;
    height: 5rem;
    $font-size: 1.2rem;

    span {
        display: block;

        &.number {
            font-weight: 100;
            z-index: 1;
            position: relative;
            font-size: $font-size;
            height: 4rem;

            &:before, &:after {
                content: '';
                display: block;
                position: relative;
                margin: 0 auto;
                z-index: -1;
            }
        }

        &.description {
            font-size: $smaller-font;
            color: $black;
            text-transform: capitalize;
        }
    }

    .arrow-body {
        height: 25px;
        width: 25px;
        margin: 0 auto;
    }

    .arrow-up-down {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }

    &.up {

        & span.number {

            color: $white;
            $top: $font-size/2;
            padding-bottom: 0.3rem;

            &:before {
                @extend .arrow-up-down;
                border-bottom: 30px solid $completed-color;
                top: $top;
            }

            &:after {
                @extend .arrow-body;
                background-color: $completed-color;
                top: $top * -1;
            }
        }
    }

    &.down {

        & span.number {

            color: $white;
            $top: $font-size/2;
            padding-bottom: 0.3rem;

            &:before {
                @extend .arrow-body;
                background-color: $rejected-color;
                top: $top;
            }

            &:after {
                @extend .arrow-up-down;
                border-top: 30px solid $rejected-color;
                top: $top * -1;
            }
        }
    }

    &.right {

        & span.number {
            color: $black;

            &:before, &:after {
                margin: 0;
            }

            &:before {
                @extend .arrow-body;
                margin: 0 auto;
                background-color: $yellow;
                top: $font-size + 0.1;
                margin-right: 50%;
            }

            &:after {
                width: 0;
                height: 0;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 30px solid $yellow;
                top: ($font-size - 0.05) * -2;
                margin-left: 50%;
            }
        }
    }
}
