
@media (max-width: 600px)
{
    body {
      font-size: 10px !important;
    }

    small {
        font-size: 8px !important;
    }

    img.task-icon {
        width: 15px;
    }

}

@media (max-width: 800px)
{
    body {
      font-size: 12px;
    }

    small {
        font-size: 10px !important;
    }

    img.task-icon {
        width: 20px;
    }
}