
@import "base";

.task-popover {
    z-index: 99999;
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: -5px;
    left: -5px;
    min-width: 440px;
    min-height: 200px;
    border: 1px solid;
    border-radius: 5px;
    background-color: $white;
    @include box-shadow($gray 4px 4px 8px);
    font-family: $alternative-font-family;

    &.ng-hide-add, &.ng-hide-remove {
        @include transition(opacity ease-out $transition-time * 0.2, visibility ease-out $transition-time * 0.2);
    }

    &.ng-hide {
      opacity: 0;
      visibility: hidden;
    }

    h6 {
        width: 100%;
        text-align: left;
        padding: 0.5rem 0.5rem;
    }

    .task-popover-body {
        color: $gray;
        font-style: italic;
        font-size: $small-font;
        text-align: left;
        padding-left: 0.6rem;
        font-weight: 100;
    }

}
